
<div class="col-xs-8 col-xs-offset-2">
<h1>Articles</h1>
<p><%= link_to 'New Article', new_article_path, class: "btn btn-xs btn-success" %></p>
</div>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>