$navbar-default-bg: #5a5c51;

#logo{
  float: left;
  font-size: 1.7em;
  color: #FFF;
  //text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
}

#logo:hover {
  color: #FFF;
  text-decoration: none;
}

.center{
  text-align:center;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

.well hr{
  padding: 5px;
  margin: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small{
  float:left;
}

footer ul{
  //text-decoration: none;
  list-style: none;
  float: right;
}

footer ul li{
  float: left;
  margin-left: 15px;
}


@import "bootstrap-sprockets";
@import "bootstrap";